ext/build/shtool linguist-generated=true
ext/config.guess linguist-generated=true
ext/config.nice linguist-generated=true
ext/config.status linguist-generated=true
ext/config.sub linguist-generated=true
ext/libtool linguist-generated=true
ext/ltmain.sh linguist-generated=true
*.m4 linguist-generated=true

